extends layout

block content
    div(style='width:50%;display:inline;float:left;text-align:justify;')
        h1= title
        p Timetable UPF és un servei de personalització d'horaris per als estudiants de l'Escola Superior Politècnica de la Universitat Pompeu Fabra (UPF).
        p Un cop et registris podràs configurar el teu horari amb les assignatures que estàs cursant (de diversos cursos inclús), indicant els grups de teoria, pràctiques i seminaris. Quan estigui tot configurat veuràs només les classes que et toquen a tu, ja siguin de teoria, de pràctiques o de seminaris.
    if (typeof(user) == 'undefined')
        div(style='display:inline;float:left; margin-left:60px;')
            h2 Inicia sessió
            form(action="/login", method="post")
                div
                    label Nom d'usuari
                    input(type="text", name="username")
                div
                    label Contrasenya
                    input(type="password", name="password")
                div
                    input.btn.btn-primary(type="submit", value="Log In")
                p(style='display:inline;') No tens compte?
                    a(href='users/new')  Registrat aqui