extends layout

block content
    h1= Continuous integration test
    p Timetable UPF és un servei de personalització d'horaris per als estudiants de l'Escola Superior Politècnica de la Universitat Pompeu Fabra (UPF).
    p Un cop et registris podràs configurar el teu horari amb les assignatures que estàs cursant (de diversos cursos inclús), indicant els grups de teoria, pràctiques i seminaris. Quan estigui tot configurat veuràs només les classes que et toquen a tu, ja siguin de teoria, de pràctiques o de seminaris.