doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/custom.css')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/ga.js')
        block scripts
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href="/index") TTUPF
                    ul.nav
                        if (typeof(user) == 'undefined')
                            li
                                a(href="/users/new") Registra't
                            li
                                a(href="/login") Inicia sessió
                        else
                            li
                                a(href="/logout") Tanca sessió
                            li
                                a(href="/users/profile") El meu compte
                            li
                                a(href="/sessions/index") El meu horari

    .container
        block content