//
   Created with JetBrains WebStorm.
   User: Enric
   Date: 8/05/13
   Time: 18:49
   To change this template use File | Settings | File Templates.

extends layout

block content
    h1= title
    if (user)
        p Hola #{user.username}, comença a configurar el teu horari!