extends layout

block content
  h2 Registra't

  form(action="/register",method="post")
    div
      label Nom d'usuari
      input(type="text",name="username")

    div
      label Contrassenya
      input(type="password",name="password")

    div
      input(type="submit",value="Register")