//
//   Created with JetBrains WebStorm.
//   User: Enric
//   Date: 28/04/13
//   Time: 21:00
//   To change this template use File | Settings | File Templates.

extends layout

block content
    h1= title
    p= message
