//
   Created with JetBrains WebStorm.
   User: Enric
   Date: 31/05/13
   Time: 0:07
   To change this template use File | Settings | File Templates.

p Hi #{user.name}!
p
    b #{client_to_authorize.name}
    | is requesting access to your account
p Do you approve?

form(action="/dialog/authorize/decision", method="post")
    input(name="transaction_id", type="hidden", value="#{transaction_id}")
    div
        input#allow(type="submit", value="Allow")
        input#deny(type="submit", value="Deny", name="cancel")