extends ../layout

block scripts
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")

block content
    div(class='formPanel')
        h2= title
        form(action="/users",method="post")
            div
                label Nom
                input(type="text",name="name")
            div
                label Cognoms
                input(type="text",name="last_name")
            div
                label Nom d'usuari
                input(type="text",name="username")
            div
                label Contrasenya
                input(type="password",name="password")
            div
                label Repeteix la contrasenya
                input(type="password",name="repeat_password")
            div
                label Correu electrònic
                input(type="email",name="email")
            div
                input.btn.btn-primary(type="submit",value="Register")