//
//   Created with JetBrains WebStorm.
//   User: Enric
//   Date: 8/05/13
//   Time: 18:49
//   To change this template use File | Settings | File Templates.

@html.extend('layout', function(model){
    @html.block('scripts', function(model) {
        <script src='/js/enrollments.js'/>
        <script src='/js/profile.js'/>
    })
    @html.block('content', function(model) {
        <h1>title</h1>
        @if (model.user) {
            <ul class="nav nav-tabs">
                @if(model.enrollments && model.enrollments.length > 0) {
                    <li class="active"><a id="enrollments_tab" class="profile_tab">Assignatures i grups</a></li>
                    <li><a id="espai_aula_tab" class="profile_tab">Espai Aula</a></li>
                }
                @else {
                    <li class="active"><a id="espai_aula_tab" class="profile_tab">Espai Aula</a></li>
                }
            </ul>
            <div id="espai_aula" style="">
                <form action="/users/config" method="post">
                    <div>
                        <h2>Configuració automàtica</h2>
                        <p>Introdueix el teu usuari i contrasenya del Campus Global per configurar les teves assignatures i grups automàticament a partir de la informació que hi ha al teu Espai Aula. Tranquil, no guardem les teves dades ;)</p>
                    </div>
                    <div>
                        <label>Usuari</label>
                        <input type="text" name="unis" placeholder="u00000"/>
                    </div>
                    <div>
                        <label>Contrasenya</label>
                        <input type="password" name="password" placeholder="Contrasenya del Campus Global"/>
                    </div>
                    <div>
                        <input type="submit" value="Configura les assignatures" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
            <div id="enrollments" style="@(model.enrollments && model.enrollments.length > 0 ? '' : 'display: none;')">
                @if(model.enrollments && model.enrollments.length > 0) {
                    <p>Edita les teves assignatures i els seus grups de pràctiques o seminari</p>
                    <table id="enrollments" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Assignatura</th>
                                <th>Pràctiques</th>
                                <th>Seminari</th>
                            </tr>
                        </thead>
                    </table>
                    @model.enrollments.forEach(function(enrollment){
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle;">
                                    @enrollment.subject.name
                                    <input class="enrollment_id" type="hidden" name="enrollment" value="@enrollment._id"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    <input class="editable" name="practicum_group" style="vertical-align: middle;" value="@enrollment.practicum_group" disabled="">
                                </td>
                                <td style="vertical-align: middle;">
                                    <input class="editable" name="seminar_group" style="vertical-align: middle;" value="@enrollment.seminar_group" disabled="">
                                </td>
                                <td>
                                    <a class="edit_enrollment icon-edit" href="#"/>
                                </td>
                            </tr>
                        </tbody>
                    })
                }
            </div>
        }
    })
})
